<h1>Listing forums</h1>

<ul class="forums">
  <% @forums.each do |forum| %>
    <li><%=link_to forum.name, forum %> <%= link_to 'Edit', edit_forum_path(forum) %> 
      <%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul

<br />

<%= link_to 'New Forum', new_forum_path %>
